/* Dashboard.css */

* {
  font-family: 'Work Sans', sans-serif;
}

.dashboard-container {
  padding-inline: 2.5rem;
  border-radius: 1rem;
}

.stats-section {
  display: flex;
}

.stats-section .card {
  background-color: #efefef99;
  flex: 1;
}

.quick-actions-section .card {
  flex: 1;
}

.quick-actions-section .card .ant-card-head{
  border-bottom: 0;
}


.set-card {
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.set-card:hover {
  transform: scale(1.02);
}

.recent-activity .ant-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity-details {
  flex: 1;
  margin-left: 16px;
}

.activity-amount.positive {
  color: green;
}

.activity-amount.negative {
  color: red;
}