/* Dashboard.css */

/* Layout des Headers */
.ant-layout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E5E8EB;
  }
  
  /* Container für das PokeCollect-Logo */
  .header-logo {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .header-logo .logo-circle {
    width: 16px;
    height: 16px;
    background-color: black;
  }
  
  .header-logo .logo-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    font-family: 'Work Sans', sans-serif;
  }
  
  /* Menübereich */
  .ant-menu-vertical {
    display: flex;
    justify-content: center;
  }
  
  .ant-menu-item {
    font-size: 14px;
    font-weight: 600;
  }
  
  /* Space für die Benutzericons */
  .user-icons {
    display: flex;
    gap: 8px;
  }
  
  .user-icons .icon-container {
    width: 40px;
    height: 40px;
    background-color: #EDEDED;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Avatar */
  .ant-avatar {
    width: 40px;
    height: 40px;
  }
  